QWidget {
    background-color: #7fb7be; 
}

/* Timer Label */
#timer_label {
    font-size: 36px;
    color: #ffffff; 
}

/* Buttons */
QPushButton {
    font-size: 18px;
    padding: 10px;
    color: #ffffff; 
    background-color: #35605a; 
    border: none;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #1d3d38; 
}

QPushButton:pressed {
    background-color: #0c1d1a; 
}

/* Start Button */
#start_button {
    background-color: #4ca58f; 
}

#start_button:hover {
    background-color: #2d6c5f; 
}

/* Pause Button */
#pause_button {
    background-color: #dd9140; 
}

#pause_button:hover {
    background-color: #b3742c; 
}

/* Reset Button */
#reset_button {
    background-color: #d05a49; 
}

#reset_button:hover {
    background-color: #9c3e35; 
}

/* Set Work Time Button */
#work_time_button {
    background-color: #468faf; 
}

#work_time_button:hover {
    background-color: #2e6672; 
}

/* Set Break Time Button */
#break_time_button {
    background-color: #71798d; 
}

#break_time_button:hover {
    background-color: #4b5562; 
}

/* Settings Menu */
QMenu {
    background-color: #7fb7be; 
    border: none;
}

QMenu::item {
    padding: 8px 32px; 
    background-color: #35605a; /
}

QMenu::item:selected {
    background-color: #1d3d38; 
    color: #ffffff; /
}

/* Hamburger Icon */
#settings_menu {
    background-color: transparent;
    border: none;
    font-size: 12px; 
    color: #ffffff;
    padding: 2px;
}

#settings_menu:hover {
    background-color: #1d3d38; 
    border-radius: 5px; 
}
